{% extends "base.html" %}
{% block style_content %}
        .main.container {
            margin-top: 7em;
        }
        .wireframe {
            margin-top: 2em;
        }
        #draft_message {
            display: none;
        }
{% endblock %}

{% block content %}
            <div class="ui fixed inverter menu">
                <div class="left menu">
                    <div class="header item">
                        Fantasy Draft
                    </div>
                    <div class="item">
                        <span>{{ team.city }} drafts: </span>
                    </div>
                </div>
                <h3 class="middle aligned content"><span id="selected"></span></h3>
                <div class="right menu" id="draft_message">
                    <div class="item">
                        <div class="ui positive approve button">
                        Yes
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui main container">
                <table id="player_table" class="ui selectable sortable striped table">
                    <thead>
                        <th>Name</th>
                        <th>Position</th>
                        <th id=sc>Scoring</th>
                        <th id=sg>Shot Generation</th>
                    </thead>
                    
                    <tbody>
                        {% for player in players %}
                        <tr id="{{ player.id }}">
                            <td><a href="{{ url_for('show_player_card', player_id=player.id) }}">{{ player.full_name() }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.scoring_rate }}</td>
                            <td>{{ player.shot_rate }}</td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
{% endblock %}

{% block postscriptcontent %}
<script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
<script>
$('#sc').data("sortBy", function(th, td, tablesort) {
        return parseFloat(td.text())})
$('#sg').data("sortBy", function(th, td, tablesort) {
        return parseFloat(td.text())})
$('table').tablesort();
$('tbody tr')
    .on("click", function(e) { 
            $('.active').toggleClass('active');
            var plid = e.currentTarget.id;
            console.log("Player " + plid + " selected.");
            $(e.currentTarget).toggleClass('active');
            $('#draft_message').show()
            var player_name = $('.active > td')[0]
            console.log(player_name.textContent)
            $("#selected").text(player_name.textContent)
            $('.positive.approve.button').off('click')
            $('.positive.approve.button')
                .on("click", function(e) {
                    var draft_action = { player_id: plid, team_id: {{ team.id }} }
                        $.post("{{ url_for('draft_player') }}", draft_action)
                        location.reload()
                }
            )
            $(document).keypress(function(e) {
                if(e.which == 13) {
                    $('.positive.approve.button').trigger('click');
                }
            });

         });
</script>
{% endblock %}
