{% extends "base.html" %}
{% block content %}
            <h1>{{ draft_name }}</h1>
            <div class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    {{ team.city }} {{ team.name }}
                </div>
                <div class="description">
                    <h2>Draft <span id="selected"></span>?</h2>
                </div>
                <div class="actions">
                     <div class="ui deny button">
                         No
                     </div>
                     <div class="ui positive approve button">
                         Yes
                    </div>
                </div>
            </div>
            <table id="player_table" class="ui selectable sortable striped table">
                <thead>
                    <th>Name</th>
                    <th>Position</th>
                    <th id=sc>Scoring</th>
                    <th id=sg>Shot Generation</th>
                </thead>
                
                <tbody>
                    {% for player in players %}
                    <tr id="{{ player.id }}">
                        <td><a href="{{ url_for('show_player_card', player_id=player.id) }}">{{ player.person.full_name() }}</td>
                        <td>{{ player.position }}</td>
                        <td>{{ player.scoring_rate }}</td>
                        <td>{{ player.shot_rate }}</td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
{% endblock %}

{% block postscriptcontent %}
<script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
<script>
$('#sc').data("sortBy", function(th, td, tablesort) {
        return parseFloat(td.text())})
$('#sg').data("sortBy", function(th, td, tablesort) {
        return parseFloat(td.text())})
$('table').tablesort();
$('tbody tr')
    .on("click", function(e) { 
            $('.active').toggleClass('active');
            var plid = e.currentTarget.id;
            console.log("Player " + plid + " selected.");
            $(e.currentTarget).toggleClass('active');
            var player_name = $('.active > td')[0]
            console.log(player_name.textContent)
            $("#selected").text(player_name.textContent)
            $('.ui.modal')
                .modal({
                    onDeny: function() { 
                        return true; 
                    },
                    onApprove: function(e) { 
                    var draft_action = { player_id: plid, team_id: {{ team.id }} }
                        $.post("{{ url_for('draft_player') }}", draft_action)
                        location.reload()
                    }
                    })
                .modal('show');

            });
</script>
{% endblock %}
