<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Puckman</title>
    </head>
    <body>
        <table class="pure-table pure-table-striped">
            <thead>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Points</th>
            </thead>
            
            <tbody>
                {% for team in teams %}
                <tr>
                    <td><a href="{{ url_for('show_team_page',
                            team_uuid=team.id()) }}">{{ team.city }} {{ team.name }}</td>
                    <td>{{ team.record.wins }}</td>
                    <td>{{ team.record.losses }}</td>
                    <td>{{ team.record.wins * 2 }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
        <div><a class="pure-button pure-button-primary" href="/action/sim_season">Simulate Season</a></div>
        <div><a class="pure-button pure-button-primary" href="/players">Players</a></div>
    </body>
</html>
