<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Puckman</title>
    </head>
    <body>
        <h2>Standings</h2>
        <table class="pure-table pure-table-striped">
            <thead>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th>Points</th>
                <th>Goals For</th>
                <th>Goals Against</th>
            </thead>
            
            <tbody>
                {% for team in teams %}
                <tr>
                    <td><a href="{{ url_for('show_team_page',
                            team_id=team.id) }}">{{ team.city }} {{ team.name }}</td>
                    <td>{{ team.current_season_stats().wins }}</td>
                    <td>{{ team.current_season_stats().losses }}</td>
                    <td>{{ team.current_season_stats().ties }}</td>
                    <td>{{ team.current_season_stats().wins * 2 + team.current_season_stats().ties }}</td>
                    <td>{{ team.current_season_stats().goals_for }}</td>
                    <td>{{ team.current_season_stats().goals_against }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
        <h2>Leading Scorers</h2>
        <table class="pure-table pure-table-striped">
            <thead>
                <th>Name</th>
                <th>Team</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Points</th>
            </thead>
            <tbody>
            {% for scorer in top_scorers %}
            <tr>
                <td><a href="{{ url_for('show_player_card',
                        player_id=scorer.player.id) }}">{{ scorer.player.person.full_name() }}</td>
                <td>{{ scorer.team.abbreviation }}</td>
                <td>{{ scorer.goals }}</td>
                <td>{{ scorer.assists }}</td>
                <td>{{ scorer.goals + scorer.assists }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div><a class="pure-button pure-button-primary" href="/action/sim_season">Simulate Season</a></div>
        <div><a class="pure-button pure-button-primary" href="/players">Players</a></div>
    </body>
</html>
