{% extends "base.html" %}
{% block content %}
        <table class="ui selectable sortable striped table">
            <thead>
                <th>Name</th>
                <th>Position</th>
            </thead>
            
            <tbody>
                {% for player in players %}
                <tr id="{{ player.id }}">
                    <td><a href="{{ url_for('show_player_card', player_id=player.id) }}">{{ player.full_name() }}</td>
                    <td>{{ player.position }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
{% endblock %}

{% block postscriptcontent %}
<script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
<script>
$('table').tablesort();
$('tr')
    .on("click", function(e) { 
            $('.active').toggleClass('active');
            var player_id = e.currentTarget.id;
            console.log("Player " + player_id + " selected.");
            $(e.currentTarget).toggleClass('active');
            });
</script>
{% endblock %}
