{% extends "base.html" %}
{% block content %}
        <table class="ui sortable striped table">
            <thead>
                <th>Name</th>
                <th>Position</th>
            </thead>
            
            <tbody>
                {% for player in players %}
                <tr>
                    <td><a href="{{ url_for('show_player_card', player_id=player.id) }}">{{ player.person.full_name() }}</td>
                    <td>{{ player.position }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
{% endblock %}

{% block postscriptcontent %}
//<script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
<script>
$('table').tablesort()
</script>
{% endblock %}
