<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Puckman</title>
    </head>
    <body>
        <table class="pure-table pure-table-striped">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
            </thead>
            
            <tbody>
                {% for player in team.roster.players() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('show_player_card', player_uuid=player.uuid.hex) }}">{{ player.full_name() }}</td>
                    <td>{{ player.position }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
        <div><a class="pure-button pure-button-primary" href="/">Home</a></div>
    </body>
</html>

